doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link( rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css")
        link(rel="stylesheet"  href="/css/loginnext.css")
        title Loginnext
    body 
        .logo

        
        h1="Choose one from Below"
            .blocks
                .div1
                    p.inside='Edit Your account'
                .div2
                    a.arrrowbutton(href='/updateuserinfo') 
                        i.fa.fa-arrow-right.fa-1x             
            .blocks
                .div1
                    p.inside=' WeeklyMenu By Location'
                .div2
                    a.arrrowbutton(href='/searchweeklymenu') 
                        i.fa.fa-arrow-right.fa-1x  
            .blocks
                .div1
                    p.inside='Menu By Location'
                .div2
                    a.arrrowbutton(href='/searchmenu') 
                        i.fa.fa-arrow-right.fa-1x 
            .blocks
                .div1
                    p.inside='Post a Weekly Menu'
                .div2
                    a.arrrowbutton(href='/caterpost') 
                        i.fa.fa-arrow-right.fa-1x  
            .blocks
                .div1
                    p.inside='Post a Menu'
                .div2
                    a.arrrowbutton(href='/menupost') 
                        i.fa.fa-arrow-right.fa-1x  

        
        h1="Choose one from Below (Catering Service)"
            .blocks
                .div1
                    p.inside='Edit weekly Menu'
                .div2
                    a.arrrowbutton(href='/updateweeklypost') 
                        i.fa.fa-arrow-right.fa-1x  


                        

            

