doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet"  href="/css/searchmenu.css")
        title Search Menu By Location
    body 
        .topnav
            a(href='/about') About DineIn
            a(href='/searchweeklymenu') Search Weekly Menu
            a(href="/") DineIn
            a(href='/logout') Logout
        form(method="POST" action="/searchmenu")
            input.bar(type="text" name="searchbar" placeholder="Search by Area Name:Burnaby,vancouver")
            button.searchbutton(type="submit") Go!
        .wrapper
            each menu in menus
                .card
                    a.wholebutton(href=`/menuoverview/${menu.servicename}`)
                    img(src=`../uploads/${menu.avatar}`)
                    .info
                        p=`${menu.servicename}`
                        p=`${menu.area}`
                        p=`${menu.typeoffood}`
                        p=`${menu.processingtime}`