doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/startingpage.css")
        title LandingPage
    body
        .firstbox
            .logo
            .signin
                form(action="/login", method="POST")
                    h1="Login"
                    input(type="text" name="email" required)
                    label="Email"
                    input(type="text" name="password" required)
                    label="Password"
                    button.loginbutton(type="submit") Login
                    p='Dont have an account?' 
                        a(href='/registration')   Register 
        
        .secondbox
            .left
                .leftblock1
                .leftblock2
                    h1='Partner with DineIn'
                    p='Start a catering service with thousands of existing customers. Register, click on become a cater, provide some information e.g(Name, Area, Delivery options, Deals, any social media page, items,image,processing time and phone number) and you are good to go. Any service can post weekly menu or menu. Customers will call you seeing your menu. Prepare food and deliver or pickup. Customers pay you with cash. You pay us 0 dollars.'
                    button.registerbutton
                        a(href='/registration') Register

                
            .right
                .rightblock1
                .rightblock2
                    h1='Serve your cravings,saving time'
                    p='DineIn has hundred of home catering services, serving difeerent types of foods. Most of the catering services are homemade and made in homely environment. Services offer weekly menu for very low price. Many of the services has their own delivery. Picking up is also an option. Processing time is as low as 1 day. Pay with upon recieving the food. Just create an account, enter your area name and DONE! No more cooking.'
                    button.registerbutton
                        a(href='/registration') Register

        .thirdbox
                .thirdleft
                    .rectangle1
                    .rectangle2
                    .rectangle3 
                    .rectangle4
                .thirdright
                    h1='All that tastes good, are Appreciated'
                    p=`Canada is a multi-cultural hub. we aim to provide all sorts of food. Choose from 100's of national and international food types. NEVER GET BORED. Taste different food everyday.`
                    button.registerbutton.second
                        a(href='/registration') Register
                        

                
                    
                        
                        


                    


